.col-centered{
    float: none;
    margin: 0 auto;
}
.login-vertical-align {
    padding-top: 20%;
}
.login-container form * {
    margin-bottom: 10px;
}
.login-header{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    color: #a0a0a0;
}
.login-container{
    width: 400px;
    padding: 15px;
    border: 1px solid #b9b9b9 ;
    border-radius: 10px;
}
.country {
    padding: 10px;
    /*    background-color: #b4ffbf;
        border-color: #8bf69a;*/
    float: left;
    margin: 10px;
    border-radius: 10px 5px 10px 5px;
    width: 150px;
    height: 100px;
}
.country-delete{
    float: right;
    height: 15px;
    width: 15px;
    top: 0px;
    cursor: pointer;
}

.country-d-b input{
    width: 100%;
    padding: 3px;
    height: 30px;
    margin: 5px;
}
.margin-10-top{
    margin-top: 10px;
}
///IMAGE UPLOAD
div.preview
{
    color:#cc0000;
    font-size:12px;
    padding-top:5px;
}
.imgList 
{
    max-height:150px;
    margin-left:5px;
    border:1px solid #dedede;
    padding:4px;	
    float:left;	
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.update {
    top:0;
    left:0;
}

div.show-image input.delete {
    top:10px;
    right:10px;
}

.jumbotron {
padding: 10px !important;
}

.tag {
display: inline-block;
float:left;
padding: 5px;
}

.info-login {
    color: #b93e3e;
    padding: 5px;
}

.border-single {
    border: 1px solid #acacac;
    padding: 15px;
    border-radius: 5px;
}
